<div class="container">
  <input type="text" id="movie-input"/>
  <ul id="movies">
  </ul>
  <button class="pug-btn" id="prev-btn">&lt</button>
  <div id="pug-div"></div>
  <button class="pug-btn" id="next-btn">&gt</button>
</div>
