<div class="container">
  <div>
  <input type="text" id="movie-input"/></div>
  <ul id="movies">
  </ul>
  <div class="pug-container">
    <button class="pug-btn" id="prev-btn">&lt</button>
    <div id="pug-div"></div>
    <button class="pug-btn" id="next-btn">&gt</button>
  </div>
</div>
