<div class="container">
  <button class="list-type-button" data-type="{{this.watched}}">Watched</button>
  <button class="list-type-button" data-type="{{this.queue}}">Queue</button>
  <ul id="movies">
  </ul>
  <button>prev</button>
  <div id="pug-div"></div>
  <button>next</button>
</div>
