<div class="container">
  <div class="watched-container">
    <button class="btn watched-btn list-type-button" data-type="{{this.watched}}">Watched</button>
    <button class="btn queue-btn list-type-button" data-type="{{this.queue}}">Queue</button>
  </div>
  <ul id="movies">
  </ul>
  <div id="pug-div"></div>
</div>
